<style>
body {
  font-family: "Oswald";
  font-size: 22px;
}
body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("https://github.com/razaele21/ezbeatsmusic.github.io/blob/master/Elective%204%20-%20Delfin%20Website/bgimage.jpg");
 




  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-image2 {
  /* The image used */
  background-image: url("https://github.com/razaele21/ezbeatsmusic.github.io/blob/master/Elective%204%20-%20Delfin%20Website/bgimage2.jpg");
  

  
  
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}.bg-image3 {
  /* The image used */
  background-image: url("https://github.com/razaele21/ezbeatsmusic.github.io/blob/master/Elective%204%20-%20Delfin%20Website/bgimage3.jpg");
  



  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}.bg-image4 {
  /* The image used */
  background-image: url("https://github.com/razaele21/ezbeatsmusic.github.io/blob/master/Elective%204%20-%20Delfin%20Website/bgimage4.jpg");
  

  

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}.bg-image5 {
  /* The image used */
  background-image: url("https://github.com/razaele21/ezbeatsmusic.github.io/blob/master/Elective%204%20-%20Delfin%20Website/bgimage5.jpg");
  
 

  
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bg-image6 {
  /* The image used */
  background-image: url("https://github.com/razaele21/ezbeatsmusic.github.io/blob/master/Elective%204%20-%20Delfin%20Website/bgimage6.jpg");
  
 

  
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.bg-image7 {
  /* The image used */
  background-image: url("https://github.com/razaele21/ezbeatsmusic.github.io/blob/master/Elective%204%20-%20Delfin%20Website/bgimage7.jpg");
  
 

  
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0);  /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 80%;
  padding: 20px;
  text-align: center;
}
  .bg-textinside {
  background-color: rgb(0,0,0);  /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/
  see-through */
  height: 100%;
 
}
footer h3{
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #1A1A1C;
    color: #fff;
    font-size:16px;
}



.anchor h6 a{
  color: white;
  text-align: center;

}
.aboutauthor h1 {
  color: white;
  
}

.aboutauthor2 p {
  color: white;
  font-size: 18px;
  
}
.logo img {
  float:left;
  
}

 h2{
  float: left;
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none
}

 p{
  
  font-size: 24px;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none

 
  
}

img {
  border-radius: 50%;
  float:center;

}

  


.navbar {
  width: 1248px;
  background-color: #1A1A1C;
  position:fixed;
  z-index: 2;

 
}

.navbar a {
  float: left;
  font-size: 28px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 28px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #3FB0AC;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #3FB0AC;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>
